html {
    font-family: "Sawarabi Gothic", sans-serif;
}

body {
    margin: 0%;
}

.current {
    position: absolute;
    z-index: 5;
    width: 50px;
    text-align: center;
    left: calc(50% - 46px);
    bottom: 15%;
    height: 50px;
    border: 4px solid;
    border-color: #000000;
    border-radius: 15px;
    padding: 15px;
    background: rgba(255,255,255,0.5);
}

.menu_icon {
    position: absolute;
    z-index: 5;
    width: 30px;
    text-align: center;
    right: calc(5% + 1rem);
    top: calc(5% + 1rem);
    height: 30px;
    border: 4px solid;
    border-color: #000000;
    border-radius: 8px;
    padding: 8px;
    background: rgba(255,255,255,0.5);
}

.menu_close {
    position: absolute;
    z-index: 25;
    width: 30px;
    text-align: center;
    right: calc(5% + 1rem);
    top: calc(5% + 1rem);
    height: 30px;
    border: 4px solid;
    border-color: #000000;
    border-radius: 8px;
    padding: 8px;
    background: rgba(255,255,255,0.5);
}

.none {
    display: none;
}

/*
.current {
    position: absolute;
    z-index: 5;
    width: 50px;
    text-align: center;
    left: calc(50% - 46px);
    bottom: 15%;
    height: 50px;
    border: 4px solid;
    border-color: #000000;
    border-radius: 15px;
    padding: 15px;
}
*/

.info {
    position: absolute;
    z-index: 5;
    width: 50px;
    text-align: center;
}

/*
 (権利表記を消しちゃう禁断のCSS)
 .mapboxgl-control-container{
     display: none;
 }
*/

a {
    color: rgb(9, 25, 46);
    cursor:pointer;
    text-decoration: underline;
}

img {
    pointer-events: none;
}

.selectable {
    pointer-events: auto;
}
