html {
    font-family: sans-serif, "Sawarabi Gothic";
}

body {
    margin: 0%;
}

.current {
    position: absolute;
    z-index: 5;
    width: 50px;
    text-align: center;
    left: calc(50% - 46px);
    bottom: 25%;
    height: 50px;
    border: 4px solid;
    border-color: #000000;
    border-radius: 15px;
    padding: 15px;
}

.info {
    position: absolute;
    z-index: 5;
    width: 50px;
    text-align: center;
}

/*
 (権利表記を消しちゃう禁断のCSS)
 .mapboxgl-control-container{
     display: none;
 }
*/
